/*Explore Page*/
.explore{
    display: block;
    position: relative;
    background: linear-gradient(180deg, rgb(228, 239, 253) 0%, rgb(212, 220, 247) 35%, rgb(212, 227, 243) 70%,rgb(234, 240, 252) 90%,rgb(255, 255, 255) 100%);
}
.map-container{
    float: right;
    display:flex;
}
.map-container svg{
    width: 50%;
    height: auto;
    transform: translate(20vw,0%);
}
.map path{
    box-shadow: 10px 10px 10px black;
    stroke:none;
    transition-duration:0.6s;
    transition-property: fill;
    cursor: pointer;
}
path:nth-child(1){
    fill:green;
}
path:nth-child(2){
    fill:rgb(117, 158, 133);
}
path:nth-child(3){
    fill:rgb(231, 59, 59);
}
path:nth-child(4){
    fill:rgb(159, 83, 247);
}
path:nth-child(5){
    fill:rgb(146, 68, 16);
}
path:nth-child(6){
    fill:rgb(173, 57, 78);
}
path:nth-child(7){
    fill:rgb(31, 87, 52);
}
path:nth-child(8){
    fill:rgb(56, 104, 97);
}
path:nth-child(9){
    fill:rgb(85, 146, 236);
}
path:nth-child(10){
    fill:rgb(212, 209, 22);
}

.map path:hover{
    fill:rgb(0, 0, 0);
    stroke-width: 1rem;
}
.showDetails-container{
    position: absolute;
    width: 100%;
    height:100%;
    opacity:1;
    top:0;
    margin:0px;
    transform: translateX(100%);
    transition:all 0.5s ease-in-out;
    background-color: rgb(231, 238, 255);
}
.container{
    display: none;
    font-family: poppins;
    padding-right: 40px;
    color: rgb(0, 0, 0);
    text-align: right;
    opacity:1;
    transition: all 0.5s ease-in-out;
}
@keyframes showDetails{
from{
  transform:translateX(0px);
}to{
  transform:translateX(0px);
}
}
.heading{
    display: block;
    position: static;
    color:rgb(0, 0, 0);
    font-family: poppins;
    font-size: 2rem;
    padding-top: 25px;
    padding-bottom:10px;
    padding-left: 5vw;
    font-weight: bold;
    width:100%;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%,rgb(239, 243, 248) 20%,rgb(234, 240, 252) 50%,rgb(232, 239, 255) 100%);
}
.province-intro{
    text-align: justify;
    padding: 2vw;
    margin: 2vw;
    font-family: poppins;
    border: 2px solid black;
    transform: translate(20%,50%);
}

.showProvinces-Container{
    position: absolute;
    width: 85%;
    height: 80vh;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.showProvinces-Container-Visible{
    opacity: 1 !important;
    pointer-events: all;
    transform: translateX(7.5vw);
    position: fixed;
    top:90px;
    z-index: 10;
}
.showProvinces-Heading{
    display: flex;
}
.comboBox{
    width: 60%;
    padding: 10px;
}
.comboBox select{
    width: 80%;
    font-size: 20px;
    font-family: poppins;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px black;
}
.showProvinces-BackButton{
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: black;
    color:white;
    font-size: 15px;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 0px;
    transition: all 0.4s ease;
    z-index: 3;
}
.showProvinces-BackButton:hover{
    background-color: white;
    color: black;
    box-shadow: 2px 2px 10px black;
    font-size: 20px;
}
.places-Container{
    margin-top: 10px;
    padding-top: 5px;
    padding-left:20px;
    padding-right:15px;
    text-align: justify;
    font-family: poppins;
    max-height:65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(-10%);
    transition: all 0.5s ease;
    opacity: 0;
    position: absolute;
    pointer-events: none;

}
.places-Container-active{
    transform: translateX(0%);
    opacity: 1;
    pointer-events: inherit;
    position: relative;
}
.places-ImageMapContainer{
    position: relative;
    height: 320px;
    margin-left: 20px;
    width: 650px;
    float: right;
    padding: 10px;
    padding-bottom: 10px;
    transition: all 0.5 ease;
    background-color: rgb(232, 239, 252);
}
.places-ImageMapContainer-active{
    opacity: 1!important;
    pointer-events: all!important;
    position: relative!important;
}
.places-Buttons{
    position: absolute;
    top: 0px;
    background-color: white;
    color:black;
    font-size: 15px;
    padding:3px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px  solid black;
    box-shadow: 2px 2px 5px black;
    transition: all 0.4s ease;
    z-index: 2;
}
.places-Buttons:hover{
    background-color: rgb(97, 97, 97);
    color: white;
}
.galleryButton{
    right:160px;
}

.weatherButton{
    right:85px;
}

.locationButton{
    right:10px;
}
.placesButtons-active{
    color:white;
    background-color: black;
}

.places-imageContainer{
    position:absolute;
    width: auto;
    height: auto;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.places-image{
    width: auto;
    height: 300px;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(0px);
    box-shadow: 2px 2px 12px rgb(5, 19, 56);
    border-radius: 2px;
}
.places-image-visible{
    position: relative!important;
    opacity: inherit!important;
    transform: translateX(0%)!important;
}
.places-image-buttons{
    position: absolute;
    opacity: inherit;
    pointer-events: inherit;
    z-index: 3;
    top:25px;
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
    transition: all 0.5s ease;
}
.places-image-buttons:hover{
    background-color: black;
    color:white;
}
.places-image-nextButton{
    right: 15px;
}
.places-image-prevButton{
    top:25px;
    right: 40px;
}
.places-weather-container{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    color: white;
    background-color: rgb(37, 84, 185);
    height: 300px;
    box-shadow: 2px 2px 12px rgb(5, 19, 56);
    border-radius: 2px;
}
.today{
    height: 100%;
    width: 50%;
    float: left;
}
.today p{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
}
.today img{
    position: absolute;
    width: 150px;
    top: 0px;
    left: 0px;
}
.today-temp{
    font-family: sans-serif ;
    float: left;
    font-size: 2.5rem;
    font-weight: bolder;
    width: 100%;
    line-height: 20px;
    padding-top: 0.6rem;
    text-align: right;
}
.today-temp p{
    text-align: right;
}
.today-details{
    padding-left: 20px;
    margin-top:1.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    float: left;
}

.future{
    height: 100%;
    width: 50%;
    float: left;
    padding: 30px;
    padding-right: 5px;
    padding-left: 5px;
}
.future-days{
    width: 40%;
    float: left;
    height: 100px;
    margin:5px;
    margin-left: 10px;
    padding-bottom: 120px;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.226);
    box-shadow: 2px 2px 10px rgb(37, 84, 185);
    border-radius: 3px;
}
.future-days p2{
    font-size: 1rem;
}
.future-days img{
    position: absolute;
    top: 4vh;
    left:10px;
    width: 8vw;
}

.places-map-container{
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 12px rgb(5, 19, 56);
    border-radius: 2px;
}
.places-map-container iframe{
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Grid View*/
.row:after{
    content: "";
    display: table;
    clear:both;
}
.column{
    float: left;
    width:40%;
}
.column2{
  width:50%;
}
@media screen and (max-width: 1000px) {
  .row{
      width:100%;
  }
  .column {
    width: 85%;
    align-items: center;
  }
}
/*Mobile View*/

@media screen and (max-width:1400px){
    .map-container svg{
        width: 70%;
        transform:translateX(20vw);
    }
}
@media screen and (max-width:1100px){
    .showProvinces-Container{
        width: 95%!important;
        transform: translateX(2.5vw);
        height: 80vh;
    }
    .places-Container{
        max-height:70vh;
    }
    
}
@media screen and (max-width: 1000px) {
    .province-intro{
      transform: translate(5%,0%);
    }
    .map-container{
        width: 100%;
    }
    .map-container svg{
        width: 50%;
        transform:translateX(25vw);
    }
}
@media screen and (max-width: 500px) {
    .map-container svg{
        width: 60%;
        height: auto;
      transform: translateX(20vw)!important;
    }
    .comboBox{
        width:100%
    }
    .comboBox select{
        font-size: 16px;
        padding:3px;
    }
    .places-ImageMapContainer{
        width: 100%!important;
        transform: translateX(0vw);
        height: 250px!important;
    }
    .places-imageContainer{
        width: 100%!important;
        
    }
    .places-image{
        width: auto!important;
        height:auto!important;
        max-width: 100%!important;
        max-height: 200px !important;
        transform: translateY(30px)!important;
    }
    .places-weather-container{
        height: 230px;
    }
    .today{
        float: left!important;
        width: 100%;
        height: 150px;
    }
    .today img{
        width: 30vw;
        transform: translate(-3vw,55px)!important;
        
    }
    .today-temp{
        width: 60%;
        font-size:8vw!important;
        float: left;
    }
    .today-temp p{
        font-size:3vw;
        line-height: 10px!important;
        text-align: right;
    }
    .today-details{
        font-size:5vw!important;
    }
    .today-details-div{
        width: 40%;
        font-size:2.6vw;
        float: left;
        padding-left: 15px;
        padding-right: 5px;
    }
    .future{
        width: 100%;
        padding-top: 10px!important;
        height: auto;
    }
    .future-days{
        margin: 0.5vw;
        width: 22.4%;
        height: auto!important;
        font-size: 2vw;
        padding-bottom: 20px;
        text-align: center!important;
        transform: translateX(10%);
    }
    .future-days p2{
        display: none;
    }
    .future-days p{
        margin:0px;
        padding: 10%;
    }
    .future-days img{
        width: 70%;
        left: 15%;
        top: 10px;

    }
}