html {
  scroll-behavior: smooth;
  overflow-x: hidden ;
}
*{
  box-sizing: border-box;
}
  body{
    position: relative;
    display: block;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    background-color: white;
  }
  .preloader{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgb(173, 232, 247);
    z-index: 10;
    transition: all 1s ease;
  }
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .loader-container{
    position: absolute;
    transform: translate(45vw,15vw);
  }
  .preloader-Text{
    position: absolute;
    transform: translate(33vw,25vw);
    font-size: 3vw;
    font-family: poppins;
  }
  .preload-finish{
    opacity: 0;
    pointer-events: none;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.navBar{
  z-index: 4;
  position:fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  max-height: 12vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.144);
  transition: background-color 0.8s linear;
}
.navBar-heading{
  padding-left: 20px;
  color:white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size:50px;
}
.navBar ul{
  list-style: none;
  color:white;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 3px;
  transition: all 0.3s ease;
}
.navBar li:hover{
  color:rgb(251, 255, 0);
  font-weight: bold;
  cursor: pointer;
}

.navBar-active{
  transform: translateX(0%)!important;
  opacity: 1!important;
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform:translateX(100px);
  }
  to{
    opacity: 1!important;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity:0;
}
.toggle .line3{
  transform:rotate(45deg) translate(-5px,-7px);
}
.content-body{
  display:block;
  position: static;
  z-index: 2;
}
.welcomeScreen{
  display: block;
  position: static;
  background-color: indigo;
}
/*SlideShow*/
.slideShow{ 
      display: block;
      position: absolute;
      max-height:550px;
      width: 100%;
      margin-bottom:7.309941520467836VW;
      padding: 0rem;
      border: 0rem;
      float: left;
      clip-path: polygon(0 100,0 0,0 0,0 0);
      top:0rem;
  }
  
  .hideSlides{
      display: none;
  }
  .slide{
    display: absolute;
      height: auto;
      width: 100%;
      filter:brightness(50%);
  }

    .prev, .next {
      cursor: pointer;
      position:absolute;
      top: 30vw;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  .next {
      right: 0em;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
  
    /* Fading animation */
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 0.5s;
      animation-name: fade;
      animation-duration: 0.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .6}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .6}
      to {opacity: 1}
    }
    .srilanka-description{
      position: absolute;
      color:white;
      top:13vw;
      background-color: rgba(0, 146, 243, 0);
      transform: translateX(25%);
      width: 45%;
      text-align: left;
      font-size: 25px;
      padding: 50px;
      padding-bottom: 35px;
      font-family: poppins;
      line-height: 35px;
      border-radius: 20px;
      z-index: 3;
    }
    .introduction-heading{
      font-size:40px;
      text-align: center;
      font-weight: bold;
      text-decoration: underline;
    }
    .srilanka-description img{
      position: absolute;
      width:16vw;
      height: auto;
      transform: translate(45vw,-10vw);
      filter: brightness(70%);
    }
    .clipart{
      width: 100%;
      max-height: 180px;
      margin:0px;
      background-color: rgb(255, 255, 255);
    }
    footer{
      margin:0px;
      padding-bottom:10px;
      background-color: rgb(255, 181, 112);
      color: black;
      text-align: center;
    }
::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 153, 153); 
}

/*Mobile View*/
@media screen and (max-width:1000px){
  body{
    overflow-x: hidden;
  }
  /*PreLoader*/
  .loader{
    width:8vw;
    height:8vw;
    border: 1vw solid #f3f3f3;
    border-top: 1vw solid #3498db;
  }
  .loader-container{
    transform: translate(42vw,20vw);
  }
  .preloader-Text{
    transform: translate(28vw,35vw);
    font-size: 4vw;
  }
  /*Navigation Bar*/
  .navBar-links{
    position:absolute;
    height: 40vh;
    top:9vh;
    right:0px;
    display:flex;
    background-color: rgba(0, 0, 0, 0.671);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform:translateX(100%);
    transition: transform 0.3s ease-in;
    opacity: 0;
    z-index: 11;
  }
  .navBar li{
    opacity: inherit;
    font-size: 30px;
  }
  .burger{
    display:block;
  }
  .navBar-heading{
    font-size:6vw;
  }
  /*Slide Show-100% brightness in mobile view*/
  .slide{
    filter:brightness(100%);
  }
  /*Introduction*/
  .srilanka-description{
    position: static;
    display: block;
    top:auto;
    background-color: rgba(0, 0, 0, 0);
    color:black;
    font-size: 4.5vw;
    transform: translateX(10%);
    width: 80%;
    padding: 2vw;
    text-align: center;
    line-height: 5vw;
  }
  .introduction-heading{
    font-size:6vw;
  }
  /*Hide welcome image on mobile view*/
  .srilanka-description img{
    display: none;
  }
}
@media screen and (max-width:500px){
  .navBar li{
    opacity: inherit;
    font-size: 6vw;
  }
}
