.intro-text{
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transform: 5s all ease-in-out;
}

.intro-appear{
    opacity: 1;
    transition: opacity 1s;
    transform: translateY(0px);
}
.btn{
  text-decoration: none;
  border-radius: 4px;
  box-shadow:5px 5px 5px rgba(11, 24, 138, 0.479);
}

.btn-main{
  font-size: 2rem;
  font-family: Roboto;
  padding-left : 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  left:50%;
}

.btn-green{

}

.btn-blue{
  background-color: rgba(42, 88, 216, 0.767);
  color:white;
}

.btn-normal{

}

.btn:hover{
  background-color:rgb(12, 23, 126);
}