body{
    background-image: linear-gradient(to right, rgb(43, 97, 158) , rgb(0, 162, 255));
}
.navBar{
    display: block;
    background-image: linear-gradient(to right, rgb(9, 78, 158) , rgb(0, 162, 255));
    text-align: center;
}

.intro-text{
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transform: 5s all ease-in-out;
}

.navBarTitle{
    font-family:'Knewave';
    font-weight: 400;
    color: white;
    font-size: 4rem;
    margin: 0;
    
}

.intro-appear{
    opacity: 1;
    transition: opacity 1s;
    transform: translateY(0px);
}

.newShape{
    clip-path: polygon(0 100%,100% 100%,100% 0%,0 0);
}

.svg-1{
    filter:drop-shadow(4px 4px 4px rgba(206, 213, 236, 0.747));
    
}

.svg-1:hover{
    filter:drop-shadow(10px 10px 10px  rgb(0, 0, 0));
}
