html {
  scroll-behavior: smooth;
}
  body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
  }
.navBar{
  z-index: 2;
  position:fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-height: 12vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.144);
  transition: background-color 0.8s linear;
}
.navBar-heading{
  padding-left: 20px;
  color:white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size:4.5vw;
}
.navBar ul{
  list-style: none;
  color:white;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 3px;
  transition: all 0.3s ease;
}
.navBar li:hover{
  color:rgb(251, 255, 0);
  font-weight: bold;
}
@media screen and (max-width:1000px){
  body{
    overflow-x: hidden;
  }
  .navBar-links{
    position:absolute;
    height: 40vh;
    top:9vh;
    right:0px;
    display:flex;
    background-color: rgba(0, 0, 0, 0.671);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform:translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .navBar li{
    opacity: 0;
  }
  .burger{
    display:block;
  }
}
.burger div:hover{
  background-color: red;
}
.navBar-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform:translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity:0;
}
.toggle .line3{
  transform:rotate(45deg) translate(-5px,-7px);
}

.content-body{
  display:block;
  position: relative;
}
  /*SlideShow*/
  .slideShow{ 
      display: block;
      max-height:550px;
      width: 100%;
      margin-bottom:7.309941520467836VW;
      padding: 0rem;
      border: 0rem;
      float: left;
      clip-path: polygon(0 100,0 0,0 0,0 0);
  }
  
  .hideSlides{
      display: none;
  }
  .slide{
      max-height: 650px;
      width: 100%;
  }
  
    .prev, .next {
      cursor: pointer;
      position:absolute;
      top: 30vw;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  
    /* Position the "next button" to the right */
  .next {
      right: 0em;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
  
    /* Fading animation */
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 0.5s;
      animation-name: fade;
      animation-duration: 0.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .6}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .6}
      to {opacity: 1}
    }
    .clipart{
      width: 100%;
      max-height: 150px;
      margin:0px;
      background-color: rgb(77, 74, 74);
    }

    footer{
      margin:0px;
      padding-bottom:10px;
      background-color: rgb(94, 86, 86);
      color: white;
      text-align: center;
    }
  /*Explore Page*/
    .explore{
      display:flex;
      margin:0px;
      padding:0px;
    }
.map-container{
  width:50%;
  display: block;
  padding-top: 30px;
  padding-left: 150px;
  padding-bottom:0px;
}
.map{
  
}
.map path{
  fill:rgb(87, 88, 88);
  box-shadow: 10px 10px 10px black;
  stroke:none;
  transition-duration:1s;
  transition-property: fill;
}

.map path:hover{
  fill:rgb(0, 0, 0);
  stroke:black;
  stroke-width: 1rem;
}
.showDetails-container{
  position: absolute;
  width: 100%;
  height:36vw;
  opacity:0;
  top:116.5vw;
  margin:0px;
  transform: translateX(500px);
  transition:all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.938);
  
}
.container{
  font-family: poppins;
  padding-right: 40px;
  color: rgb(0, 0, 0);
  text-align: right;
  display:none;
  opacity:1;
  transition: all 0.5s ease-in-out;
}
@keyframes showDetails{
  from{
    transform:translateX(0px);
  }to{
    transform:translateX(0px);
  }
}
.heading{
  color:rgb(0, 0, 0);
  font-family: poppins;
  text-align: right;
  font-size: 2rem;
  padding-top: 30px;
  padding-right: 60px;
  font-weight: bold;
  float: right;
  width:100%;
}

.explore-backButton{
  font-family: poppins;
  font-size:18px;
  margin: 20px;
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  transition: all 0.3s ease-in
}
.explore-backButton:hover{

  box-shadow: none;
  background-color: rgb(0, 0, 0);
  color:white;
  font-size:25px;
}

.container-heading{
  display: inline;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.container-province-list{
  width:60%;
}
.container-province-list ul{
  list-style: none;
}

.container-province-list li{
  width:50%;
  float: right;
  border: 1px solid black;
  margin-bottom: 2px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}
.container-province-list li:hover{
  font-size:20px;
  background-color: black;
  color:white;
}
@keyframes showProvince{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
.container-province-map{
  display:inline;
  width: 40%;
  float:left;
}
.container-province-list{
  display:inline;
  float:right;
  width:60%;
}
.about{
  display: block;
  padding:0.9309941520467835VW;
  padding-left: 5.847953216374268VW;
}
.about-heading{
  font-size:2rem;
  font-family: poppins;
  font-weight:bold;
  padding-top: 10px;
}

.about-image{
  transition: all 0.5 ease-in;
  box-shadow:0px 0px 3px black;
}
.image-small{
  height:25.730994152046783vw;
  width:14.035087719298245vw;
  margin: 1.461988304093567VW;
  
}
.image-medium{
  height:25.730994152046783vw;
  width:17.543859649122805vw;
  margin: 1.461988304093567VW;
}

.image-big{
  height:25.730994152046783vw;
  width:35.08771929824561vw;
  margin:1.461988304093567VW;
  margin-left:4.385964912280701VW;
}

.about-container-small{
  display: inline;
  position: relative;
}
.about-container-medium{
  display:inline;
  position: relative;
}
.about-container-big{
  display:inline;
  position: relative;
}
.about-text{
  
  position:absolute;
  font-size:2.5vw;
  font-family: poppins;
  color:rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.562);
  transition: all 0.3s ease-in;
  bottom:1.462vw;
  left:1.462vw;
  width:82%;
  margin-right: 1000px;
  
}
.about-image:hover{
  box-shadow: 5px 5px 10px rgb(5, 5, 5);
}
.about-image:hover + .about-text{
  box-shadow: 5px 5px 10px rgb(5, 5, 5);
  background-color: white;
  color:black;
}
.about-text:hover{
  box-shadow: 5px 5px 10px rgb(5, 5, 5);
  background-color: white;
  color:black;
}
.about-text:hover+ .about-image{
  box-shadow: 5px 5px 10px rgb(5, 5, 5);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153); 
}