
  body{
    margin:0px;
    padding:0px;
  }
.navBar{
  z-index: 10;
  position:fixed;
  display: flex;
}

.navBar-heading{
  display: flex;
  padding-left: 20px;
  color:white;
  font-family: poppins;
  font-size:3rem;
}
.navBar ul{
  list-style: none;
  display: flex;
}
.navBar li{
  color:white;
}

  /*SlideShow*/
  .slideShow{ 
      position: relative;
      max-height:600px;
      width: 100%;
      margin:0px;
      padding: 0rem;
      border: 0rem;
      float: left;

      clip-path: polygon(0 100,0 0,0 0,0 0);
  }
  
  .hideSlides{
      display: none;
  }
  .slide{
      max-height: 640px;
      width: 100%;
  }
  
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  
    /* Position the "next button" to the right */
  .next {
      right: 0em;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
  
    /* Fading animation */
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 0.5s;
      animation-name: fade;
      animation-duration: 0.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .6}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .6}
      to {opacity: 1}
    }
    .clipart{
      width: 100%;
      max-height: 150px;
    }