body{
    //background-image: linear-gradient(to right,rgb(158, 177, 231), rgb(167, 193, 250));
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.map-container{
    width:50%;
    display: block;
    padding-top: 30px;
    padding-left: 150px;
    padding-bottom:0px;
}

.map{
    
}
path{
    fill:rgb(66, 112, 236);
    box-shadow: 10px 10px 10px black;
    stroke:none;
    transition-duration:1s;
    transition-property: fill;
}

path:hover{
    fill:green;
    stroke:green;
    stroke-width: 2rem;
    box-shadow: blue;
}

.showDetails-container{
    
    clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 0);
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0),rgba(19, 28, 110, 0.226));
    width: 60%;
    height:46vw;
    right: 0em;
}
.heading{
    color:rgb(17, 115, 228);
    font-family: "Roboto";
    text-align: right;
    font-size: 4rem;
    padding-right: 80px;
    padding-top:20px;
    font-weight: bold;
}
.content{
    width: 80%;
    float: right;
}
.container{
    font-family: roboto;
    padding-right: 80px;
    color:green;
    text-align: right;
    display:none;
    animation: display;
    duration: 2s;
}
.container-heading{
    font-size: 3rem;
    color: rgb(19, 75, 121);;
}

